[Unit]
Description=Simple Power Manager Daemon (%i mode)
Conflicts=powerman@bat.service powerman@ac.service

[Service]
Environment="POWERMAN_CONFIG=%h/.config/powerman.yaml"
ExecStart=%h/.cargo/bin/powerman %I
Restart=no

[Install]
WantedBy=default.target
